/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .  /* すべてのCSSを読み込む */
 *= require rankings /* rankings.cssを追加で読み込む */
 *= require_self
 */

.alert {
  position: fixed;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 20px 40px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
  background-color: #ffe6cc;
  color: #333;
  text-align: center;
}

.alert.alert-warning {
  background-color: #ffc107;
  color: #000;
}

.alert.alert-success {
  background-color: #28a745;
  color: #fff;
}

.alert.alert-danger {
  background-color: #dc3545;
  color: #fff;
}

.highlighted-question {
  font-size: 7.5rem;
  font-weight: bold;
  color: #3f51b5;
  font-family: 'Comic Sans MS', 'Arial', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.highlighted-letter {
  font-size: 7.5rem;
  font-weight: bold;
  color: #3f51b5;
  font-family: 'Comic Sans MS', 'Arial', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.center-container {
  text-align: center;
}
